<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          <h3>Reach out to me</h3>
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>
            <div>{{- site.description | escape -}}</div>
            <br>
            <hr>
            <br>
            <div>
              - BEng (Computers) from <a href="https://www.linkedin.com/school/anjuman-i-islams-school-of-engineering-and-technology-atanjuman-i-islam-kalsekar-technical-mumbai/" target="_blank">AIKTC</a>
            </div>
            <br>
            <hr>
            <br>
            <div>I've a keen interest in Programming, Web Security and Automation</div>
          </p>
        </div>
      </div>
  
    </div>
  
  </footer>
  